.table_empresa {
	background-color: #E9E9E9;
}

.invoice_cadastro{
	width: 150px;
	text-align: right;
}

.invoice_progress{
	width:300px;
}

.invoice_btn{
	width:10px;
}


/* RESPONSIVE  */
/* USADO PELO SISTEMA  */
@media (min-width: 980px) {
  .full {
  	display:block;
  }

  .ipad {
  	display:none;
  }
  
  
  .mobile {
  	display:none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .full {
  	display:none;
  }

  .ipad {
  	display:block;
  }
  
  .mobile {
  	display:none;
  }
}

@media (max-width: 767px) {
  .full {
  	display:none;
  }
  
  .ipad {
  	display:none;
  }
  
  .mobile {  	
  	display:block;
  }
}

.remove_text{
	cursor:pointer;
	text-decoration:underline;
}

.input_file{
    background-color: transparent;
    border: 0px solid;
    color: transparent;
}

.lock{
	cursor:pointer;
}

.pointer{
	cursor:pointer;
}

.center{
	text-align:center;
}


